<span class="restaurant-tile-stars">
  {{fa-icon "star" class=hasOneStar}}
  {{fa-icon "star" class=hasTwoStars}}
  {{fa-icon "star" class=hasThreeStars}}
  {{fa-icon "star" class=hasFourStars}}
  {{fa-icon "star" class=hasFiveStars}}
</span>
